<!doctype html>
<html>
 <head>
 <title>Caloriebuddy | Search page</title>
 </head>
 <body>
    <!-- this block of code creates the navigation bar, R4A -->
    <div class="topnav">
        <a href="./">Home</a>
        <a href="./list-food">List-food</a>
        <a href="./add-food">Add-food</a>
        <a class="active" href="./search-food">Search-food</a>
        <a href="./update-food">Update-food</a>
        <a href="./about">About</a>
    </div>
    
    <h1> This is Search-food page </h1>
    <!-- the form collects data from the user, R4A  -->
    <form method="POST" action="/search">
        <p>Please type in a the food name (e.g. Potato) you want to search </p>
        <input id="keyword" type="text" name="keyword" value="" />
        <br>        
        <input type="submit" value="SUBMIT" />
     </form>
    <!-- this code block runs after the search was successfull in the database, and it sent back an empty array, R4B -->
    <% if(typeof ingridients !== 'undefined')  {%>
        <% if(ingridients.length == 0)  {%>
            <h3>No result</h3>
        <% } %>
        <!-- if the result array is not empty, the list of the records are presented in an unorderd list -->
        <% if(ingridients.length >= 1)  {%>    
            <ul>
                <% ingridients.forEach(function(ingridients){ %>
                    <li>100g of <%= ingridients.name %> has: 
                        <%= ingridients.calorie %> kilocalorie, 
                        <%= ingridients.protein %> g of protein, 
                        <%= ingridients.fat %> g of fat, 
                        <%= ingridients.carbs %> g of carbohydrates, 
                        <%= ingridients.sugar %> g of sugar,
                        <%= ingridients.fiber %> g of fiber
                    </li>
                <% }) %>
            </ul>
        <% } %>
    <% } %>

 </body>
</html>