<!doctype html>
<html>
 <head>
 <title>Caloriebuddy | Update page</title>
 </head>
 <body>
    <!-- this block of code creates the navigation bar, R5A -->
    <div class="topnav">
        <a href="./">Home</a>
        <a href="./list-food">List-food</a>
        <a href="./add-food">Add-food</a>
        <a href="./search-food">Search-food</a>
        <a class="active" href="./update-food">Update-food</a>
        <a href="./about">About</a>

    </div>
    
    <h1> This is Update-food page </h1>
    <!-- Displays search food form, R5A -->
    <form method="POST" action="/update-search">
        <p>Please type in a the food name (e.g. Potato) you want to update </p>
        <input id="name" type="text" name="name" value="" />
        <br>        
        <input type="submit" value="SUBMIT" />
    </form>

    <!-- Display a message indicating the update operation has been done, R5B  -->
    <% if(typeof updated !== 'undefined')  {%>
        <% if(updated == true)  {%>  
            <h3>Record is successfully updated</h3>
        <% } %>
    <% } %>        
    <!-- Display a message indicating the delete has been done -->
    <% if(typeof deleted !== 'undefined')  {%>
        <% if(deleted == true)  {%>  
            <h3>Record is successfully deleted</h3>
        <% } %>
    <% } %>
    <!-- If food found, display data related to the food found in the database, R5B -->
    <% if(typeof ingridients !== 'undefined')  {%>
        <% if(ingridients.length == 0)  {%>
            <h3>No result</h3>
        <% } %>

        <% if(ingridients.length >= 1)  {%>    
            <ul>
                <% ingridients.forEach(function(ingridients){ %>
                    <h3>Please update the necessary data</h3>

                    <form method="POST" action="/update">                        
                        <input type="hidden" name="id" value="<%= ingridients.id %>"/>
                        <p>Food ingridient name (e.g. Potato): </p>
                        <input id="name" type="text" name="name" value="<%= ingridients.name %>" />
                        <p>Calorie (kcal/100g) (e.g. 150): </p>
                        <input id="calorie" type="text" name="calorie" value="<%= ingridients.calorie %>" />
                        <p>Protein (g/100g) (e.g. 15): </p>
                        <input id="protein" type="text" name="protein" value="<%= ingridients.protein %>" />
                        <p>Fat (g/100g) (e.g. 15.5): </p>
                        <input id="fat" type="text" name="fat" value="<%= ingridients.fat %>" />
                        <p>Carbs (g/100g) (e.g. 15.5): </p>
                        <input id="carbs" type="text" name="carbs" value="<%= ingridients.carbs %>" />
                        <p>Sugar (g/100g) (e.g. 15.5): </p>
                        <input id="sugar" type="text" name="sugar" value="<%= ingridients.sugar %>" />
                        <p>Fiber (g/100g) (e.g. 15.5): </p>
                        <input id="fiber" type="text" name="fiber" value="<%= ingridients.fiber %>" />
                        <br>
                        <input type="submit" value="UPDATE" />                        
                    </form>

                    <form method="POST" onsubmit="return confirm('Do you really want to delete the record?');" action="/delete">
                        <input type="hidden" name="id" value="<%= ingridients.id %>"/>
                        <input type="submit" value="DELETE"/>   
                    </form>
                <% }) %>
            </ul>
        <% } %>
    <% } %>

 </body>
</html>